{% extends "layout.html" %}
{% block body %}
<title>Character creation</title>
<div class="form">

    <form method="POST", action="">
        {{ form.hidden_tag() }}
        {{ form.warframe.label }} {{ form.warframe}}
        <br>
        {{ form.health.label }} {{ form.health }}
        <br>
        {{ form.mp.label }} {{ form.mp }}
        <br>
        {{ form.prime.label }} {{ form.prime }}
        <br>
        {{ form.submit }}
        <br>
        {{message}}
    </form>
</div>

{% endblock body %}