{% extends "layout.html" %}
{% block body %}

<div class="form">

    <form method="POST", action=''>
        {{ form.hidden_tag() }}
       <p>{{ form.first_name.label }} {{ form.first_name }}</p> 
        <br>
        <p>{{ form.last_name.label }} {{ form.last_name }}</p>
        <br>
        <p>{{ form.username.label }} {{ form.username }}</p>
        <br>
        <p>{{ form.password.label }} {{ form.password }} </p>
        <br>
        <p>{{ form.card_details.label }} {{ form.card_details }} </p>
        <br>
       <p>{{ form.membership.label }} {{ form.membership }}</p> 
        <br>
        {{ form.submit }}
    </form>
</div>

{% endblock body %}